{% extends 'base.html' %}
{% load static %}
{% block title %}О компании{% endblock %}

{% block content %}
    <h1>О компании</h1>
    <div class="text">
        <p><strong>ООО «Федеральная система «ГОРОД» — Удмуртия»</strong> — организация сферы ЖКХ, осуществляющая услуги по расчету платы за коммунальные услуги, приему денежных средств, а также консультационные услуги для населения по вопросам начисления и оплаты за жилищно-коммунальные услуги. Мы – активно развивающаяся компания, стремящаяся в совокупности удовлетворить все запросы наших заказчиков и жителей города.</p>
        <p>При расчете оплаты за жилищно-коммунальные услуги специалистами ООО «ФСГ-Удмуртия» Вы получаете следующие возможности:</p>
        <p><strong>1.Расчет начислений (с учетом Постановлений Правительства РФ №№ 354 и 344).</strong></p>
        <p>Мы начисляем квартплату, расщепляем платежи, печатаем платежные документы в соответствии с «Методическими рекомендациями по заполнению примерной формы платежного документа для внесения платы за содержание и ремонт жилого помещения и предоставление коммунальных услуг», утвержденными Приказом министерства регионального развития РФ №454 от 19.09.2011г., производим расчет пени и дальнейшее зачисление на лицевой счет должника.</p>
        <p><em>У Вас пропадет необходимость покупать и обслуживать локальную программу для начисления квартплаты, формировать штат бухгалтеров по начислению, а также отслеживать изменение законодательства и вносить изменения в программное обеспечение.</em></p>
        <p><strong>2. Сбор данных с индивидуальных приборов учета.</strong></p>
        <p><em>Мы осуществляем сбор данных ИПУ от жителей самостоятельно. Более того, используемая для расчетов программа позволяет не только вносить показания индивидуальных приборов учета, но и проводит расчет исходя из среднемесячного потребления и норматива, в случае отсутствия показаний, в случае если прибор учета выведен из эксплуатации. Т.е. учитывает все требования Постановления Правительства РФ №354., с учетом изменений, внесенных Постановлением Правительства РФ №344.</em></p>
        <p><strong>3. Удобный прием платежей.</strong></p>
        <p><em>Мы обладаем налаженной схемой работы с банками, можем автоматически разнести платежи, произведенные в Сбербанке, Датабанк, Россельхозбанке, ПочтаБанк, ВТБ, а также через Почту России на лицевые счета. </em></p>
        <p><strong>4.Информация всегда под рукой.</strong></p>
        <p><em>Наша база доступна в полном объеме 24 часа в сутки при наличии интернета. Вы можете просматривать начисления и произведенные собственниками оплаты. БЕЗ ЗАДЕРЖЕК Формировать различные отчеты, необходимые для управления домами.</em></p>
        <p><strong>5.Формирование отчетов.</strong></p>
        <p><em>ООО «ФСГ-Удмуртия» сформирует стандартные статистические отчеты (сумма начислений по коммунальным платежам, оборотно-сальдовая ведомость, список должников). </em></p>
        <p><em><strong>Все Клиенты,</strong> заключившие договор с ООО «ФСГ-Удмуртия», <strong>совершенно бесплатно получают доступ</strong> к просмотру начислений и поступивших оплат; получают возможность формировать отчеты непосредственно на рабочем месте.</em></p>
    </div>
{% endblock %}