{% extends 'base.html' %}
{% load static %}
{% block title %}Получение справки об отсутствии задолженности{% endblock %}

{% block content %}
    <h1>Получение справки об отсутствии задолженности</h1>
    <div class="text">
        <p>Справку об отсутствии задолженности можно получить в любом отделении «Единого расчетного центра»: &nbsp;г.Сарапул, ул.Раскольникова<wbr>, д.136, &nbsp;ул.Фрунзе, д.17, ул.Дальняя, д.43б.</p>
        <p>Справка выдаётся при условии оплаты всех текущих начислений, как за коммунальные услуги, так и за жилое помещение и пеней.</p>
        <p>На сегодняшний день не установлена определенная форма справки об отсутствии задолженности по коммунальным услугам. Уполномоченные лица могут составлять этот документ в свободной форме. Главное, чтобы справка содержала все необходимые реквизиты и была заверена подписями ответственных лиц и печатями.</p>
        <p>Справка об отсутствии задолженности выдается только собственнику (нанимателю или члену его семьи) жилого помещения или лицу, уполномоченному им на основании нотариально оформленной доверенности.</p>
        <p><strong>Документы для получения справки:</strong></p>
        <ol>
            <li>
                <p>Официальный документ, посредством которого специалист сможет идентифицировать личность гражданина.</p>
            </li>
            <li>
                <p>Если интересы собственника недвижимости представляет его уполномоченное лицо, то у него на руках, помимо паспорта, должна быть нотариально заверенная доверенность.</p>
            </li>
            <li>
                <p>Документы, подтверждающие факт законного владения городской недвижимостью.</p>
            </li>
            <li>
                <p>Договора купли-продажи, приватизации, социального найма и т.д.</p>
            </li>
            <li>
                <p>Если собственник жилого помещения установил индивидуальные приборы учета, он должен снять с них показания в тот день, когда обращается за справкой.</p>
            </li>
            <li>
                <p>Платежные документы, свидетельствующи<wbr>е о полной оплате всех текущих начислений.</p>
            </li>
        </ol>
    </div>
{% endblock %}