{% extends 'base.html' %}
{% load static %}
{% block title %}Наши клиенты{% endblock %}

{% block content %}
<h1>Наши клиенты</h1>
<img class="cap-img" src="{% static 'img/customers.jpg' %}">
<div class="text">
    <div class="entry">
        <p><strong>ООО «Городская управляющая компания в ЖКХ г.Сарапула»</strong></p>
        <p>427960, УР, г.Сарапул, ул.Раскольникова д.142а</p>
        <p>Телефоны: (34147) 4-43-27, 4-09-75, т/факс (34147) 4-43-27</p>
        <p>Email: inbox@sz-sarapul.udmnet.ru</p>
        <p>Директор ООО «ГУК в ЖКХ г.Сарапула» — Жвакин Дмитрий Викторович</p>
    </div>
    <div class="entry">
        <p><strong>ООО «Управляющая компания «Парус»</strong></p>
        <p>426011, Удмуртская Республика, г.Ижевск, ул.Пушкинская, д.279а, оф.5</p>
        <p>тел.(3412) 67-27-22</p>
        <p>E-mail: office@yk-parus.ru</p>
        <p>Генеральный директор ООО «УК «Парус» — Глезденев Вадим Николаевич</p>
    </div>
    <div class="entry">
        <p><strong>ООО «Управляющая компания «Капитальное решение»</strong></p>
        <p>426004, Удмуртская Республика, г. Ижевск, улица Пушкинская, дом 171</p>
        <p>тел.(3412) 310-979</p>
        <p>Директор ООО «УК «Капитальное решение» — Лобжанидзе Григорий Давидович</p>
    </div>
    <div class="entry">
        <p><strong>ООО «Первая Сарапульская Управляющая компания»</strong></p>
        <p>427968, УР, г.Сарапул, ул. Калинина, д.9.</p>
        <p>Телефоны: (34147)4-66-92; т/факс (34147)4-66-00</p>
        <p>E-mail: ukz-post@mail.ru</p>
        <p>Директор ООО «Первая Сарапульская Управляющая компания» — Русинов Константин Владимирович</p>
    </div>
    <div class="entry">
        <p><strong>ООО «Ремонтно-домовой сервис»</strong></p>
        <p>427960, УР, г.Сарапул, ул.Амурская, д.17</p>
        <p>Телефоны: (34147) 2-06-08</p>
        <p>E-mail: ooords@bk.ru</p>
        <p>Директор ООО «Ремонтно-домовой сервис» — Сулейманов Александр Владимирович</p>
    </div>
    <div class="entry">
        <p><strong>ООО «Яр-Энерго»</strong></p>
        <p>427500, УР, Ярский район, п.Яр, ул.Гагарина, д.13</p>
        <p>Телефон/ факс (34157) 4-17-22</p>
        <p>E-mail: yar-energo@yandex.ru</p>
        <p>Дирекор ООО «Яр-Энерго» — Булатов Антон Викторович</p>
    </div>
    <div class="entry">
        <p><strong>ООО «Сарапульская Управляющая компания»</strong></p>
        <p>427968, УР, г.Сарапул, ул. Калинина, д.9.</p>
        <p>Телефоны: (34147)4-66-92; т/факс (34147)4-66-00</p>
        <p>E-mail: ukz-post@mail.ru</p>
        <p>Директор ООО «Сарапульская Управляющая компания» — Круглякова Наталья Сергеевна</p>
    </div>
    <div class="entry">
        <p><strong>ООО «Завьялово-Энерго»</strong></p>
        <p>427000, УР, с. Завьялово , ул. Садовая, 62</p>
        <p>с 8-00 до 17-00, обед: с 12-00 до 13-00,</p>
        <p>выходные дни: суббота, воскресенье.</p>
        <p>Директор ООО «Завьялово-Энерго» —  Булатов Антон Викторович</p>
    </div>
    <div class="entry">
        <p><strong>ООО «Системы водоснабжения и канализации»</strong></p>
        <p>427022, УР, д.Пирогово, ул.Северная, д.18</p>
        <p>телефон: (3412) 624-061</p>
        <p>Директор ООО Системы водоснабжения и канализации — Пескишев Дмитрий Юрьевич</p>
    </div>
    <div class="entry">
        <p><strong>ООО «Единая Экономическая Служба»</strong></p>
        <p>426000, УР, г.Ижевск, ул.10 лет Октября, д.7а</p>
    </div>
    <div class="entry">
        <p><strong>TCЖ «РепТим»</strong></p>
        <p>426011, Удмуртская Республика, г.Ижевск, ул.Тимирязева, д.19</p>
        <p>Председатель — Шерстобит Станислав Николаевич</p>
    </div>
    <div class="entry">
        <p><strong>ТСН «Ключ»</strong></p>
        <p>426011, Удмуртская Республика, г.Ижевск, ул.Родниковая, д.56</p>
        <p>Председатель — Тимошкина Екатерина Васильевна</p>
    </div>
</div>
{% endblock %}