<footer>
    <div class="col">
        <div class="row">
            <div class="col footer-map">
                <div id="YMapsID"></div>
            </div>
            <div class="col footer-info">
                <strong>Единый расчётный центр, 2015</strong><br><br>
                <strong>По общим вопросам:</strong>
                <p><strong>+7 (34147) 2-70-74</strong></p>
                <p><strong>erc-sarapul@yandex.ru</strong></p>
            </div>
            <div class="col-4 footer-left">
                <div class="nav flex-column footer-nav">
                    <a class="nav-link text-light" href="#"><b>Информационный центр</b></a>
                    <hr>
                    <a class="nav-link text-light" href="#"><b>О компании</b></a>
                    <hr>
                    <button class="btn btn-warning text-light nav-link footer-btn">Задать вопрос</button>
                </div>
            </div>
        </div>
    </div>
</footer>