{% extends 'base.html' %}
{% load static %}
{% block title %}Информационный центр{% endblock %}

{% block content %}
    <h1>Информационный центр</h1>
    <div class="text">
        <p>Если Вы хотите получить консультацию по телефону, у Вас есть возможность обратиться в ООО «ФСГ-Удмуртия» по тел:</p>
        <p>906-226 (Пн-Пт: с 08:00 до 17:00, Обед с 12.00 до 12.48 Выходные: Сб, Вс).</p>
        <p><strong>Наши специалисты ответят на Ваши вопросы:</strong></p>
        <ul>
            <li>о порядке проведения начислений и перерасчетов за жилое помещение и коммунальные услуги;</li>
            <li>о порядке и способах оплаты квитанций;</li>
            <li>о порядке предоставления показаний приборов учета.</li>
        </ul>
        <p><a href="{% url 'certificate' %}">Получение справки об отсутствии задолженности</a></p>
        <p><a href="{% url 'ipu' %}">Поверка или замена ИПУ</a></p>
        <p><a href="{% static 'files/soglasie-na-obrabotku-personalnyh-dannyhnovoe-1.doc' %}">Согласие на обработку персональных данных</a></p>
    </div>
{% endblock %}