{% extends 'base.html' %}
{% load static %}
{% block title %}Интеграция{% endblock %}

{% block content %}
    <h1>Интеграция с ГИС ЖКХ</h1>
    <img class="cap-img" src={% static 'img/integration.jpg' %}>
    <div class="text">
        <p>ООО «Единый расчетный центр» (ЕРЦ), совместно с ООО «Лаборатория Информационных Технологий» (ЛИТ), предлагает автоматизированное средство передачи и приема данных в ГИС ЖКХ.</p>
        <p>Совместное сотрудничество позволило разработать инструменты и модули для эффективной работы компаний и организаций в сфере ЖКХ.</p>
        <h2>Преимущества:</h2>
        <ol>
            <li>Уменьшение расходов на обеспечение рабочих процессов в денежном эквиваленте</li>
            <li>Сокращение времени на обслуживание клиентов за счет автоматизации взаимодействия между клиентами и сотрудниками компании.</li>
            <li>Удешевление стоимости разработки за счет уже готовых решений.</li>
            <li>Легко интегрируется с вашими базами данных вне зависимости от вашего программного обеспечения</li>
            <li>Все данные защищены от утечки информации и взлома.</li>
            <li>По вашему желанию мы можем выделить дисковое пространство на своем сервере под резервное копирование ваших баз данных.</li>
        </ol>
        <p>Для дополнительной информации, по интеграции с ГИС ЖКХ, пожалуйста обратитесь по телефону: <em><strong>8-967-877-36-17</strong></em></p>
    </div>
{% endblock %}