{% extends 'base.html' %}
{% load static %}
{% block title %}Консультация{% endblock %}

{% block content %}
    <h1>Пункты консультаций населения</h1>
    <img class="cap-img" src={% static 'img/consult.jpg' %}>
    <div class="text">
        <div class="entry">
            <p><strong>• г. Сарапул, ул. Дальняя д.43б (помещение ООО «Дом», бывшее помещение «Фактор»)</strong></p>
            <p>тел: 8-963-544-80-38, 2-70-74.</p>
            <p>Консультации по начислению квартплаты:</p>
            <p>понедельник — четверг с 8.30 до 11.30. и с 13.00 до 17.30.</p>
            <p>пятница с 8.30 до 11.30 и с 13.00 до 16.30</p>
            <p>Выходной: суббота, воскресенье.</p>
            <p>Микрорайон: Элеконд.</p>
        </div>
        <div class="entry">
            <p><strong>• г. Сарапул, ул. Фрунзе, д.17</strong></p>
            <p>тел: 8-963-544-80-83</p>
            <p>Консультации по начислению квартплаты:</p>
            <p>понедельник — четверг с 8.15 до 11.30. и с 13.00 до 17.30.</p>
            <p>пятница — с 8.15 до 11.30 и с 13.00 до 16.00</p>
            <p>Выходной: суббота, воскресенье.</p>
            <p>Микрорайон: Южный.</p>
        </div>
        <div class="entry">
            <p><strong>• г. Сарапул, ул. Раскольникова, 136 (Центр, в здании АКБ «Ижкомбанк»(ОАО)</strong></p>
            <p>тел: 8-963-544-80-14</p>
            <p>Консультации по начислению квартплаты:</p>
            <p>понедельник — четверг с 08.30 до 11.30 и с 13.00 до 17.30.</p>
            <p>пятница с 08.30 до 11.30 и с 13.00 до 16.30</p>
            <p>Выходной: суббота, воскресенье.</p>
            <p>Микрорайоны: Центр, УППВОЗ, пос. Дачный, поворот, ж/д вокзал</p>
        </div>
        <div class="entry">
            <p><strong>• п.Яр, ул.Гагарина, 13</strong></p>
            <p>тел: 8-963-544-80-16, (34157) 4-11-97</p>
            <p>Консультации по начислению квартплаты:</p>
            <p>понедельник — четверг с 08.00 до 12.00 и с 13.00 до 16.00.</p>
            <p>Выходной: суббота, воскресенье.</p>
        </div>
        <div class="entry">
            <p><strong>• с.Завьялово, ул. Садовая, 62.</strong></p>
            <p>тел: 8-967-191-02-98</p>
            <p>Консультации по начислению отопления и горячей воды:</p>
            <p>понедельник — четверг с 09.00 до 18.00, обед с 12.00 до 12.48</p>
            <p>пятница — с 09.00 до 17.00, обед с 12.00 до 12.48</p>
            <p>Выходной: суббота, воскресенье.</p>
        </div>
        <div class="entry">
            <p><strong>• д.Пирогово, ул. Северная, 18.</strong></p>
            <p>тел: (3412) 623-278</p>
            <p>Консультации по начислению отопления и горячей воды:</p>
            <p>понедельник — пятница с 08.00 до 16.00, обед с 12.00 до 13.00</p>
            <p>Выходной: суббота, воскресенье.</p>
        </div>
        <div class="entry">
            <p><strong>• п.Первомайский, ул. Сабурова, 16а.</strong></p>
            <p>тел: (3412) 629-500</p>
            <p>Консультации по начислению отопления и горячей воды:</p>
            <p>понедельник — пятница с 09.00 до 18.00, обед с 12.00 до 13.00</p>
            <p>Выходной: суббота, воскресенье.</p>
        </div>
    </div>
{% endblock %}