{% extends 'base.html' %}
{% load static %}
{% block title %}Услуги{% endblock %}
{% block content %}
    <h1>Дополнительные услуги</h1>
    <img class="cap-img" src={% static 'img/services.jpg' %}>
    <div class="text">
        <p>В дополнительные услуги ООО “Единый Расчетный Центр» входит:</p>
        <p>— размещение ваших объявлений о покупке, продаже, сдаче в аренду любых объектов как движимого, так и недвижимого имущества на всех <a href="places.html">консультационных пунктах города</a>, а также на нашем сайте;</p>
        <p>— размещение ваших визиток, буклетов на всех консультационных пунктах города;</p>
        <p>— размещение ваших реклам, которые обойдутся вам в десятки раз дешевле других предложений.</p>
        <br>
        <p>Мы предлагаем <strong>принципиально другой подход к рекламе</strong>, а именно разместить ваши объявления о купле-продаже, сдаче в аренду движимого и недвижимого имущества в специальные папки, созданные на каждом пункте. Размещая рекламу на одном пункте, она автоматически появляется на всех остальных, а также на нашем сайте.</p>
        <p><strong>ПРЕИМУЩЕСТВА ТАКОЙ РЕКЛАМЫ</strong>:</p>
        <p>— вы можете оформить свое объявление в произвольной форме на листе формата А4, приложив фотоснимки (формата А5);</p>
        <p>— вы можете оформить свое объявление в произвольной форме на листе формата А4, приложив фотоснимки (формата А5);</p>
        <p>— низкая цена:</p>
        <p>1) размещение одного объявления – 50 руб/мес.;</p>
        <p>2) при разовом размещении от 4 до 20 объявлений — фиксированная плата 200 руб.;</p>
        <p>— в месяц вашу рекламу увидят более 2500 человек из разных районов города, а также жители п. Яр;</p>
        <p>— перспектива сотрудничества с нами – возможность размещения объявлений на сайте ООО «ЕРЦ», которую увидят тысячи жителей в разных районах не только Сарапула, но и Удмуртии.</p>
        <br>
        <p>По всем вопросам размещения рекламы будем рады ответить по телефону:</p>
        <p>2-70-74 или 8-967-877-36-17 Екатерина</p>
    </div>
{% endblock %}